firebase-admin==5.2.0
protobuf==3.20.1
py-firebase-dynamic-links==1.0.1
python-dateutil
-e git+https://github.com/alexlipa91/nutmeg-firebase.git@59e3641058d5f8672ca27262c5cc2fbb2df75828#subdirectory=nutmeg_utils&egg=nutmeg_utils

