firebase-admin==5.2.0
protobuf==3.20.1
py-firebase-dynamic-links==1.0.1
-e git+https://github.com/alexlipa91/nutmeg-firebase.git@1bafef66bffcc2d89b51e58e243aa1f844a0bc89#subdirectory=nutmeg_utils&egg=nutmeg_utils
google-cloud-tasks==2.7.2
flask-cors
