firebase-admin==5.2.0
py-firebase-dynamic-links==1.0.1
python-dateutil
-e git+https://github.com/alexlipa91/nutmeg-firebase.git@5412155c2f361aa27b5986624c50af5ecac79f3c#subdirectory=nutmeg_utils&egg=nutmeg_utils
