firebase-admin==5.2.0
python-dateutil
google-cloud-tasks==2.7.2
-e git+https://github.com/alexlipa91/nutmeg-firebase.git@aadcb48f126fa459633093d2ef48f57f4e2b90c3#subdirectory=nutmeg_utils&egg=nutmeg_utils
