firebase-admin==5.2.0
protobuf==3.20.1
py-firebase-dynamic-links==1.0.1
python-dateutil
-e git+https://github.com/alexlipa91/nutmeg-firebase.git@831f16125ba018f635a8f089e7e47890f1b9095b#subdirectory=nutmeg_utils&egg=nutmeg_utils
google-cloud-tasks==2.7.2
flask-cors
