firebase-admin==5.2.0
protobuf==3.20.1
py-firebase-dynamic-links==1.0.1
python-dateutil
-e git+https://github.com/alexlipa91/nutmeg-firebase.git@d678e9bf9dd450961235b4c7616d92d768bd1482#subdirectory=nutmeg_utils&egg=nutmeg_utils
google-cloud-tasks==2.7.2
flask-cors
