firebase-admin==5.2.0
python-dateutil
google-cloud-tasks==2.7.2
-e git+https://github.com/alexlipa91/nutmeg-firebase.git@03bce1859a095a11d8837bed82c6f131c3dbcefc#subdirectory=nutmeg_utils&egg=nutmeg_utils
