firebase-admin==5.2.0
protobuf==3.20.1
stripe
py-firebase-dynamic-links==1.0.1
google-cloud-tasks==2.7.2
-e git+https://github.com/alexlipa91/nutmeg-firebase.git@a079ff9ce322f9752c78433021405d286e80fd20#subdirectory=nutmeg_utils&egg=nutmeg_utils
flask-cors
